<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
  <link rel="stylesheet" href="/app.css">
</head>

<body>
  <div class="flex-container">
  <form action='/sort'>
    
    <button>Sort by date</button>
  </form>
  <table class="table table-inverse">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Email</th>
        <th>Created at</th>
      </tr>
    </thead>
  
    <tbody>
      <% for(var i=0; i < data1.length; i++) { %>
      <tr>
        <td><%= data1[i].u_id %></td>
        <td><%= data1[i].email %></td>
        <td><%= data1[i].created_at %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <div style="padding: 25px;"><p style="height: auto;color:black;">Newsletters<p></div>
  <table class="table table-inverse">
    <thead>
      <tr>
        <th> ID</th>
        <th>Name</th>
        <th>Total Subscribers</th>
      </tr>
    </thead>
  
  <tbody>
    <% for(var i=0; i < data2.length; i++) { %>
    <tr>
      <td><%= data2[i].n_id %></td>
      <td><%= data2[i].name %></td>
      <td><%= data2[i].c %></td>
    </tr>
    <% } %>
  </tbody>
</table>
  <form action='/'>
    <button type="submit"> back</button></form>
      <form action='/news'>
        <button type="submit"> Newsletters</button></form>
</div>
</body>